<div class="row">                 
    <div class="g-3 col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <div class="card cardstyle">
            <div class="card-body1">
                <br><h3 align="center" style="font-size: 40px;">Kudumbasree Loans</h3>
                <hr><br>
        <p style="font-size: 20px;">Kudumbashree is currently in the process of implementing <b>hon Chief Minister’s ‘Sahayahastham’ (Helping Hands)</b> loan scheme declared by the Government of Kerala. Kudumbashree NHGs will be given interest free loans as indicated in the guidelines. 
            Kudumbashree received the Government order regarding the same on 05.04.2020 and a detailed guideline by the Executive Director has been prepared. The loan applications will be submitted to banks by April 15th.
        </p>

        <div class="card cardstyle">
    <div class="card-body">

        <p style="font-size: 20px;">Government Order is<a type="button" class="btn btn-white" href="https://www.kudumbashree.org/storage//files/swsno_new%20doc%202020-04-04%2018.02.07.pdf"><u>Here</u></a></p>
         <p style="font-size: 20px;">Circular(04-04-2020) from the Registrar of Co-operative Departments is<a type="button" class="btn btn-white" href="https://www.kudumbashree.org/storage//files/3idzm_cir28_2020.pdf"><u>Here</u></a></p>
         <p style="font-size: 20px;">Proposal given to Govt. is<a type="button" class="btn btn-white" href="https://www.kudumbashree.org/storage//files/wkbfo_rkls%202020.pdf"><u>Here</u></a></p>
        </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="image1">
        <img src="assets/loanimage1.jpg" class="img-fluid rounded-start" alt="...">
</div>
</div>
<div class="image2">
    <img src="assets/loanimage2.jpg
    " class="img-fluid rounded-start" alt="...">
    </div>

